# React Native Android Build Folders
android/app/build/
android/build/
android/app/.cxx/
android/.gradle/
android/local.properties

# Dependencies
node_modules/

# IDE / Editor Settings
.idea/
.vscode/
*.iml
.DS_Store
